@import "reset.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
body,td,th,textarea,input{color: #666;font-size: 12px;font-family: Arial,Helvetica,sans-serif,"undotum";}
body {background:#f8f8f8 url(../img/admin-bg.gif) repeat-x;margin-top: 39px;}
a{color: #00a5cc;text-decoration: none}
a:hover{text-decoration: underline}
.float-left{float: left}
.float-right{float: right}
.clear{clear: both}
.hidden{display: none;}

.p_a {padding:10px}
.p_l {padding-left:10px}
.p_r {padding-right:10px}
.p_t {padding-top:10px}
.p_b {padding-bottom:10px}
.m_a {margin:10px}
.m_l {margin-left:10px}
.m_r {margin-right:10px}
.m_t {margin-top:10px}
.m_b {margin-bottom:10px}


#container{width: 873px; margin: 0 auto; text-align: left;background:url(../img/admin-bgcontainer.png) repeat-y}
.header{background: url(../img/admin-header-m.gif) repeat-x;height: 107px}
.header-l{background: url(../img/admin-header-l.gif) no-repeat;padding-left: 18px}
.header-r{background: url(../img/admin-header-r.gif) no-repeat 100% 0;padding-right: 18px}
#adminlogo {float:left;margin-top:20px}
#content{float: left; width: 857px; margin: 8px 0 0 8px}
#main #content{width: 647px;}
#content .inside h3,#content .inside h2{color: #0c5465; font-size: 12px}
#sidebar{float: left; margin:8px 0 0 8px;width:202px;}
#sidebar .index img{float: left; margin: -4px 2px 0 0}
#sidebar .arrow{float: right;width: 30px; height: 37px; border-left: 1px solid #cbcbcb; background: url(../img/admin-ico-arrow.png) no-repeat 50% 50%;}
#sidebar .arrow:hover{background-color: #ccc; cursor: pointer}
#sidebar .index{display: block; padding: 13px 0 13px 6px}
.separator{border-bottom:1px dotted #ccc;padding-top:3px;margin:0 5px 8px}
.sections{line-height: 14px; display: none}
.sections li a{display: block; padding: 6px 10px;color:#0c5465;text-decoration: none;}
.sections li a.last{-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;}
.sections li a:hover{background-color: #105869; color: #fff;}
#footer {background: url(../img/admin-bgfooter.gif) no-repeat 0 100%;padding:8px;}
#footer-inner{
    background-color: #d1d2d3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: right;
    padding: 10px 10px 5px
}
.ayuda{float: left; padding: 15px 0 5px 22px; background: url(../img/ico-help.png) no-repeat 0 100%}
#user_options {float: right; line-height: 20px; text-align: right; margin: 15px 5px}
#user_options,#user_options a{color: #fff}
#user_options a{text-decoration: underline}
#user_options a:hover{text-decoration: none}
.ico-web {
    background: url(../img/admin-ico-web.png) no-repeat 0 50%; padding-left: 25px;
}
.ico-cerrar {
    background: url(../img/admin-ico-close.png) no-repeat 0 50%; padding-left: 18px;
}
.ico-add{line-height: 12px;float: left; padding: 5px 0 5px 18px; background: url(../img/ico-add.png) no-repeat 0 100%}
.widget{
    background: url(../img/admin-bg-widget.gif) repeat-x 0 100%;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: -1px
}
.widget-top{
    background: url(../img/admin-widget-top.gif) repeat-x #D7D7D7;
    height: 37px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.link-add,.link-addx2,.link-back,.link-view{
    background: url(../img/ico-add.png) no-repeat 0 50%;
    float: right;
    padding:13px 15px 13px 20px
}
.link-view{
    background: url(../img/ico-view.png) no-repeat 0 50%;
}
.link-addx2{
    background: url(../img/ico-addx2.png) no-repeat 0 50%;
}
.link-back{
    background: url(../img/ico-back.png) no-repeat 0 50%;
}
#sidebar .widget-top:hover {background: #eee none}
.widget-top h3,.widget-top a{font-size: 12px;font-weight: bold;color: #000;display: block}
.widget-top h3{padding: 12px 11px 0; font-family: "Tahoma",Arial,Helvetica,sans-serif,"undotum";text-shadow: 1px 1px #fff;}
.wg-active .widget-top,#content .widget-top{
    border-bottom: 1px solid #9c9c9c;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.inside{padding: 10px}
.box-error,.box-ok,.box-warning{
    background: url(../img/admin-bg-error.gif) repeat;
    padding: 0 20px;
    color: #333;
    font-family: Arial;
    margin-bottom: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #d99595
}
.box-ok{background-image: url(../img/admin-bg-ok.gif); border-color: #95db00 }
.box-warning{background-image: url(../img/admin-bg-warning.gif); border-color: #E4BD00 }
.ico-error,.ico-ok,.ico-warning{
    background: url(../img/admin-ok-big.png) no-repeat 0 50%;
    padding: 10px 45px 15px
}
.ico-error{
    background-image: url(../img/admin-error-big.png);
}
.ico-warning{
    background-image: url(../img/admin-warning-big.png);
}
.box-error h4,.box-ok h4{margin-top: 7px;font-size: 14px}
.textofull{ border: 1px solid #ccc; padding: 10px; float: left}
.fecha{float: right;}
.titlebar{border-bottom: 1px dashed #ccc; padding: 4px; margin-bottom: 10px}
.respuesta, .respuesta_admin{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #ccc;
    padding:10px 15px;
    margin: 5px 5px 5px 0px;
}
.respuesta_admin{
    background-color: #f7ffe8;
    border:1px solid #88be32;
    margin-left: 15px;
}
.respuesta .respuesta_head {
    border-bottom: 1px dashed #999; padding-bottom: 3px; margin-bottom: 5px;
    font-style: italic; font-size: 12px
}
.button {
    background-color: #4a4a4a; color: #fff; padding: 6px 20px; margin-top: 10px;
    border: 0 none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none !important
}
.button:hover {
    background-color: #0099cc;
    
}
.btn{border:0 none;height: 27px;width: 90px;cursor: pointer}
.btn-ingresar{background: url(../img/btn-ingresar.png) no-repeat 0 0;}
.btn-guardar{background: url(../img/btn-guardar.png) no-repeat 0 0;}
.btn-buscar{background: url(../img/btn-buscar.png) no-repeat 0 0;}
.btn:hover,.btn:focus{background-position: 0 100%;}
.input{
    overflow: auto;
    padding-bottom: 5px;
    width: 100%
}
.input label{
    float: left;
    width: 120px;
    padding: 5px;text-align: right
}
span.requerido {font-family: "Tahoma"; font-weight: bold; color: #c00}
label.error{
    float: left;
    background: url(../img/bg-label-error.png) repeat-x;
    margin: 1px 0 0 3px;
    padding: 4px 3px 3px;
    border: 1px solid #d50000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: auto;
    color: #de0000;
    font-size: 11px;
}
label.error span{
    background: url(../img/ico-error.png) no-repeat 0 50%;
    width: auto;
    float: left;
    height: 13px;
    padding: 3px 0 0 18px;
    font-weight: bold;
}
.input input[type=text],.input input[type=password],textarea,.input-text,.select{
    float: left;
    width: 300px;
    padding: 3px;
    height:18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc
}
.input input.textchico{width: 70px}
.select {height: 25px;width: 308px;}
textarea{overflow-x: hidden; height: 90px}
.input input[type=text]:focus,.input input[type=password]:focus,textarea:focus{
    border-color: #999; outline: none
}
.status {background-color: #EEE;
    border: 1px solid #CCC;
    color: #7B7B7B;
    float: left;
    font-family: Arial;
    font-size: 11px;
    margin: 3px 0 0 130px;
    padding: 5px 5px 4px;}
.submit{text-align: right}
.ui-datepicker-trigger {float: left; margin: 3px 0 0 -25px; cursor: pointer}



#order-list li{float: left; margin-right: 5px;position: relative;}
ul.deproductos li {margin: 5px 0;position: relative; height: 30px; float: none; width: 100%; border-bottom: 1px dotted #ccc; padding: 10px 0 4px 35px;}
#order-list li .handle{position: absolute; top:5px;left:5px; background-color: #fff; padding: 3px; cursor: pointer;}
#order-list li{opacity:0.8; filter:alpha(opacity=80)}
#order-list li:hover{opacity:1; filter:alpha(opacity=100)}

.ui-autocomplete-loading {
    background: white url("../img/ui-anim_basic_16x16.gif") 98% center no-repeat;
  }

#loading{
    text-align: center; display: none
}
.loading-inner{
    text-align: center;
    background-color: #fff;
    padding: 7px 0;
    width:220px;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc
}
.taglist{
    float:left;width: 468px; line-height: 24px; padding: 0 5px; border:1px solid #ccc
}
.tag{
    float: left;margin-right: 10px
}
.option-list{
    float: left; 
}
.option-list input{
    margin-top: 3px
}
.checkbox{margin-top: 5px}
.tabla{
    border-collapse: collapse;
    width: 100%;
    *width: 95%;
}
.tabla td,.tabla th{padding: 6px 5px 5px;font-weight: normal;text-align:center;background-color: #fff;line-height: 14px;}
.tabla .left{text-align: left}
.actions {white-space: nowrap}
.tabla th{background-color: #077BA2; color: #fff; padding-bottom: 5px}
.father td {background-color: #666; padding: 8px 8px 2px; color: #fff;border-bottom: 1px solid #999}
.tabla tr.altrow td{background-color:#E3EBF7;border-bottom:1px solid #C1D2EB;border-top:1px solid #C1D2EB}
.tabla tr.altrow2 td{background-color: #eee; border-bottom: 1px solid #ddd;border-top: 1px solid #ccc}
.tabla tr.pending td{background-color: #ff4444;color: #fff; border-bottom: 1px solid #ddd;border-top: 1px solid #ccc}
span.pending,span.active {background-color: #ff4444;float: left; width: 10px; height: 10px; margin: 2px 5px; border: 1px solid #ccc}
span.active {background-color: #fff;}
.thumb{background-color:#CCC;float:left;margin-right:2px;height: 100px;}
.thumbs {float: left; margin: 0 1px 4px 0}

.download-row{display: block;margin-bottom: 5px; border: 1px solid #ccc !important; padding:4px;}

.paginacion {text-align: center;margin: 20px 0 10px}
.paginacion a,.paginacion b{padding: 3px 4px; margin-right: 5px;}
.paginacion b {background-color: #666; color: #fff;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px}

#features {background-color: #CCC;width: 480px;padding: 10px;margin: 0 0 10px 130px;}
#features .column{float: left;margin: 0 10px 10px 0; line-height: 25px}

#type1,#type2{display: none;}